<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Covid</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>FrozenCrystal-Z34x.otf</string>
		<string>FrozenCrystal3D-VaL6.otf</string>
		<string>FrozenCrystalAcademy-J787.otf</string>
		<string>FrozenCrystalBold-G21m.otf</string>
		<string>FrozenCrystalChrome-jzGl.otf</string>
		<string>FrozenCrystalCondensed-3EWG.otf</string>
		<string>FrozenCrystalEngraved-zzva.otf</string>
		<string>FrozenCrystalExpanded-xzK0.otf</string>
		<string>FrozenCrystalGradient-5ZEL.otf</string>
		<string>FrozenCrystalHalftone-63Oo.otf</string>
		<string>FrozenCrystalItalic-pzna.otf</string>
		<string>FrozenCrystalLeftalic-D96m.otf</string>
		<string>FrozenCrystalLight-yz22.otf</string>
		<string>FrozenCrystalPunch-9DxZ.otf</string>
		<string>FrozenCrystalSemiItalic-lynZ.otf</string>
		<string>FrozenCrystalSuperItalic-ABj2.otf</string>
		<string>FrozenCrystalTitle-qz1l.otf</string>
		<string>Hacked-KerX.ttf</string>
		<string>TrenchThin-16R0.otf</string>
		<string>TrenchThin-aZ1J.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
</dict>
</plist>
